/* ext settings */
.m_dd {
	width: 400px;
	text-align: center;
	color: green;
}

/* for both */
._1nc7 ._5w1r, ._1nc6 ._1aa6 {
    border-radius: 5px !important;
}

/* msg from my firend */
._1nc7 ._5w1r {
    background: #444;
    color: #fff;	
}
